{% extends "devblog/base_devblog.html" %} 
{% load static %} 
{% block content_inner %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"d F, Y" }}</small>
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
    </div>  
    {% if object.author == user %}
        <a class="btn btn-secondary btn-sm" href="{% url 'devblog-postupdate' object.id %}">Update</a>
        <a class="btn btn-danger btn-sm" href="{% url 'devblog-postdelete' object.id %}">Delete</a>
    {% endif %}
</article>
{% endblock content_inner %}
