{% extends "divipy/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
  {% if title %}
    <title<>Diviypy - {{ title }}</title>
  {% else %}
    <title>Divipy</title>
  {% endif %}
{% endblock %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-2">Reset your password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Reset password</button>
            </div>
        </form>
{% endblock content %}
